@using Quiz.Webpack
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Quiz</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/dev/styles.bundle.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/prod/@WebpackChunkNamer.GetCssFile("styles")"/>
    </environment>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Quiz</a>
            <div class="d-sm-inline-flex align-content-end">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Quiz List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<environment include="Development">
    <script src="~/dist/dev/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/dev/styles.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/dev/quiz.bundle.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/dist/prod/@WebpackChunkNamer.GetJsFile("vendor")" asp-append-version="true"></script>
    <script src="~/dist/prod/@WebpackChunkNamer.GetJsFile("runtime")" asp-append-version="true"></script>
    <script src="~/dist/prod/@WebpackChunkNamer.GetJsFile("styles")" asp-append-version="true"></script>
    <script src="~/dist/prod/@WebpackChunkNamer.GetJsFile("quiz")" asp-append-version="true"></script>
</environment>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>