{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 1 version",
            "> 1% in GB",
            "not ie 11",
            "not ie_mob 11",
            "not dead"
          ]
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-class-properties"
  ]
}
