#quiz-question-list {
  margin-top: 100px;

  .list-group {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    #answer-container {
      margin-left: 20px;

      a.list-group-item {
        &:not(.active) {
          background: #ecebeb;
        }

        &.active {
          color: white;
        }

        color: black;
        text-decoration: none !important;

        &:hover {
          background: #007bff4d !important;
        }
      }
    }

    .list-group-item {
      font-size: 24px;
    }
  }
}